body{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdn8qC5b1qEhL99vB0aGaBqA5TrzUKVz7jnK24qlxwBCa1F9G7);
}

.center{
	padding-left: 20px;
}

header {
	background-color: #A9A9A9  ;  
}

h2{
	padding-left:70px ;
}

.texto{
	padding-right: 50px;
	text-align: justify;
font-family: 'Allerta', sans-serif;
}

.container.row .col-md-6{
	color: black;
	background-color: black;
}

.row .col-md-4{
	padding-left:150px ;
 }


.container  {
	font-family: arial;
	padding-top: 15px;	
}

.row .col-md-12{
	font-family: arial;
	font-size: 120%;
	padding-left: 70px;
	color:black;	
}


.borde{
	margin: auto;
	width: 75%;
	background-color: #D1D5D9;
	border:#CACFD2  1px solid;
	box-shadow:1px 1px 2px 2px black ;
}

.row .col-md-2{
	padding-left: 13rem;
	height: 60%;
	width: 60%;
}

.col-md-12{
	font-family: arial;
	font-size: 120%;
}



