header{
	background-color:#4DF83C;
}

.borde{
	margin: auto;
	width: 75%;
	background-color: #F8F9F9;
	border:#CACFD2  1px solid;
	box-shadow:1px 1px 2px 2px black ;
}

.row .col-md-4 {
	padding-left: 140px;
}

.row .col-md-8{
	padding-left: 180px;
}

.row .col-md-10{
	padding-left: 430px;
}